---
title: "ブログ再作成しました！"
date: "2025-06-21"
category: "その他"
description: "ブログ再開した記念の投稿です。"
thumbnail: "/img/header_logo.png"
---

## はじめに

みなさんこんにちは！
ブログサイト作成が終わったので更新再開してみました！
って言っても前の記事は削除してしまったのですがwww
<br>
今回はフロントエンドフレームワークのSvelteを使ってWebサイトを作成していたのですが、
途中からほとんどの修正をAIに任せてみました。
私の指示が多少おかしかったせいでうまくいかない部分もありましたが、
コードの修正が早いのでなんとかなりました！
<br><br>
これから徐々に記事を増やしていきたいと思うのでどうぞよろしくお願いいたします。
あっ！主にゲーム関連を投稿していく予定です！((o(＞◡＜*)o))
